body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    font-weight: 600;
    background-color: wheat;
}
div {
    padding-left: 5px;
}
.estatico {
    background-color: #757677;
    position: static;
    top: 10px;
    left: 10px;
}

.relativa {
    background-color: #e56b6f;
    width: 300px;
    height: 100px;
    position: relative;
    /*
    top: 30px;
    left: 30px;
    */
}
.absoluta {
    background-color: #eaac8b;
    position: absolute;
    top: 30px;
    left:50px;
}
.sticky {
    background-color: #6d59;
    position: sticky;
    top: 0px;
}
.espacio {
    background-color: darkcyan;
    height: 1500px;
}

.fijo {
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}